@import 'forms.css';

/* Common Classes */

.centered {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.twy {
    top: 20% !important;
}

.back-arrow-box {
    position: fixed;
    z-index: 10;
    min-width: 250px;
    top: 10%;
    left: 20%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}


/* Font Classes */

.text-blue {color: rgb(71, 131, 209) !important; display: inline;}
.text-green {color: rgb(66, 216, 183) !important; display: inline;}
.text-red {color: rgb(221, 53, 11) !important; display: inline;}

/* Logo */

.top-centered-logo {
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.home-link:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Check In Container */

.checkin-card {
    margin-top: 2em !important;
    padding: 2em !important;
    background-color: rgba(0, 0, 0, 0.335);
    border: 3px solid rgba(255, 255, 255, 0.062);
    border-radius: 6px;
    color: white;
}

.checkin-card .middle {
    width: 50% !important;
    margin: 20px auto !important;
    padding: 20px !important;
    background-color: rgba(0, 0, 0, 0.335);
    border: 3px solid rgba(255, 255, 255, 0.062);
    border-radius: 6px;
}

/* Person Container */

.person-container {
    overflow: scroll;
}

.person-box {
    position: relative;
    top: 20%;
    width: 80%;
    margin: auto !important;
}

.person-table {
    width: 100%;
    height: 500px !important;
}
  
.person-table td { 
    padding: 0 .6em !important;
    text-align: left; 
    font-size: 20px;
}
  
.person-table th {
    padding: .3em 1em !important;
    background-color: rgba(0, 0, 0, 0.637);
}

.person-table tr { 
    color: white;
    margin: 2em !important;
    background-color: rgba(0, 0, 0, 0.335);
    border: 3px solid rgba(255, 255, 255, 0.062);
    border-radius: 6px;
}


/* Disaster Container */

    .disaster-container {
        overflow: scroll;
    }

    .disaster-box {
        position: relative;
        top: 20%;
        width: 90%;
        margin: auto !important;
        padding: 20px 0px !important;
        background-color: rgba(0, 0, 0, 0.534);
        border: 3px solid rgba(255, 255, 255, 0.062);
        border-radius: 6px;
        text-align: center;
    }

    .disaster-box ul {
        width: 100%;
        text-align: center;
        
    }

    .disaster-box li {
        width: 265px;
        height: 400px;
        /* border: 1px solid rgb(128, 128, 128); */
        /* border-radius: 10px; */
        background-color: rgba(255, 255, 255, 0.096);
        margin: 10px 10px !important;
        display:inline-block;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .disaster-box li .top {
        background-size: cover;
        /* border-radius: 10px 10px 0 0; */
        opacity: 1;
        padding-top: 45% !important;
        color: white;
        text-shadow: 2px 2px 5px rgb(26, 26, 26);
        font-weight: bold;
        width: 100%;
        height: 70%;
    }

    .disaster-box li .top h3 {
        font-size: 28px;
    }

    .disaster-box li .bottom {
        height: 30%;
        /* border-radius: 0 0 10px 10px; */
    }

    .disaster-box li .content {
        padding-top: 10% !important;
        text-align: left;
        color: white;
    }

    .disaster-box li p {
        font-size: 14px;
        font-weight: bold;
    }

    .disaster-box li .content a {
        color: white;
        font-size: 14px !important;
    }

    .disaster-box li img {
        width: 30%;
        margin-top: 10% !important;
        float: left;
        display: inline-block;
    }
    
    .city-box {
        position: relative;
        top: 20%;
        width: 80%;
        margin: auto !important;
        padding: 2em !important;
        color: white;
        background-color: rgba(0, 0, 0, 0.534);
        border: 3px solid rgba(255, 255, 255, 0.062);
        border-radius: 6px;
    }
    
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
  
    .row {
        display: block;
        width: 100% !important;
        margin: auto !important;
        padding: auto !important;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
  
    .city-card {
        margin: .2em !important;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.644) !important;
        border: 3px solid rgba(255, 255, 255, 0.062) !important;
        border-radius: 6px;
    }
    .city-card:hover  {
        margin: .2em !important;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        color: white;
        background-color: rgba(53, 53, 53, 0.103) !important;
        border: 3px solid rgba(255, 255, 255, 0.062) !important;
        border-radius: 6px;
        cursor: pointer;
    }


/* Partner Container */

.partner-container {
    overflow: scroll;
}

.partner-box {
    position: relative;
    top: 20%;
    width: 90%;
    margin: auto !important;
    padding: 20px 0px !important;
    background-color: rgba(0, 0, 0, 0.644);
    border: 3px solid rgba(255, 255, 255, 0.062);
    border-radius: 6px;
    text-align: center;
    color: white;
}

.partner-box .testing {
    margin: 0 20px !important;
    padding: 20px 0 !important;
    /* background-color: rgba(0, 0, 0, 0.342);
    border: 3px solid rgba(255, 255, 255, 0);
    border-radius: 6px; */
}

.partner-box .left {
    float: left;
    width: 50%;
}

.partner-box .right {
    display: inline-block;
    width: 50% !important;
    border-left: 2px solid rgba(255, 255, 255, 0.226);
    
}

.partner-box .partner-info {
    display: inline-block;
    width: 100%;
    padding: 2em !important;
    margin: auto !important;
}

.partner-box .login-container, .partner-box .registration-container {
    width: 80%;
    margin: auto !important;
}

.partner-box #login-button {
    width: 50% !important;
    margin-top: 30px !important;
}

.user-dash {
    width: 80% !important;
    margin: auto !important;
}

.user-dash .label {
    display: inline-block;
    width: 30% !important;
    font-weight: bold;
    margin: 10px 0 !important;
}

.user-dash #approved {
    width: 50% !important;
    font-weight: bold;
    color: green;
}

.user-dash .key {
    display: inline-block;
    width: 50% !important;
    padding: 0px 10px !important;
    color: rgb(107, 173, 248);
    background-color: rgba(0, 0, 0, 0.644);
    border: 3px solid rgba(255, 255, 255, 0.062);
    border-radius: 6px;
}

.user-dash h4 {
    margin-top: 30px !important;
}

.api-info {
    width: 90%;
    margin: 20px auto !important;
}

.api-info .endpoint {
    list-style-type: none;
    margin: 20px 10px !important;
}

.api-info .endpoint p {
    display: inline-block;
    width: 55px;
    height: 20px;
    padding-top: 1px !important;
    margin: 0 10px 0px 0 !important;
    font-weight: bold;
    border-radius: 6px;
}


.red p {
    background-color: rgb(192, 92, 92);
}

.blue p {
    background-color: #008BFA;
}

  
@media screen and (max-width: 660px) {
    .back-arrow-box {
        position: fixed;
        z-index: 10;
        top: 25%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 800px) {
    tr { 
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
        border: 1px solid rgba(3,3,3,0.2);
    }

    td, th {
        flex: 1 1 150px;
        border: 0.5px solid rgba(3,3,3,0.2);
    }

    .disaster-box li {
        margin: 1.5em auto !important;
        width: 400px;
        display:block;
    }

    .disaster-box li .top { padding-top: 25% !important; }

    .disaster-box li .content {
        padding-top: 6% !important;
        text-align: left;
        color: white;
    }

    .disaster-box li .top {
        font-size: 35px;
        font-weight: bold;
    }

    .disaster-box li img { margin-top: 6% !important; }

    td.edit-buttons, td.empty {
        /*flex: 1 0 90%;
        text-align: center;*/
    }
}

@media screen and (max-width: 900px) {

    .centered {
        width: 100% !important;
    }

    .checkin-card {
        width: 90% !important;
    }

    .column {
      width: 30%;
      display: block;
      margin-bottom: 20px;
    }

    .partner-box {
        border: none;
        background: none;
    }

    .partner-box .left {
        display: block;
        float: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.644);
        border: 3px solid rgba(255, 255, 255, 0.062);
        border-radius: 6px;
        margin: 10px 0 !important;
    }

    .partner-box .right {
        display: block;
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.644);
        border: 3px solid rgba(255, 255, 255, 0.062);
        border-radius: 6px;
        margin: 10px 0 !important;
    }

    .partner-box .login-container, .sm-form {
        width: 90% !important;
        margin: 20px auto !important;
    }
    
    .partner-box #login-button {
        width: 50% !important;
        margin-top: 0px !important;
    }

    .city-card {
        display: block !important;
        width: 100% !important;
    }
}
/* 
  * { box-model: border-box; font-family: 'futura'; } */